@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Black";
    src: url("../font/Roboto-Black.ttf");
}
@font-face {
    font-family: "Bold";
    src: url("../font/Roboto-Bold.ttf");
}

@font-face {
    font-family: "RobotoBold";
    src: url("../font/Roboto-Bold.ttf");
}

@font-face {
    font-family: "RobotoBlack";
    src: url("../font/Roboto-Black.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
html{
    font-family: "Roboto";
    scroll-behavior: smooth;
}

img{
    max-width: 100svw;
}

/* _____________ Start Hero ___________________ */

.hero{
    background-image: url("../img/ilustracion1.png");
    height: 90svh;
/*     background-size:  70svw;
 */    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.Dude{
    max-width: 45svw;
    margin-left: 50svw;
    margin-top: -70vh;
}

#logo{
    padding: 5svh 6svw;
    width: 50svw;
}

.hero div:nth-of-type(2){
    max-width: 36svw;
    padding-left: 6svw;
    padding-top: 28svh;
}

.hero h2{
    font-size: 3.5rem;
    padding-bottom: 15px;
}

.hero p{
    padding-bottom: 50px;
    font-size: 1.1rem;
}

.hero a{
    text-decoration: none;
    color: #FF3571;
    font-size: 1.2rem;
    font-family: "RobotoBlack";
    font-weight: 700;
}

.elefant{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 45px;
    left: 35px;
}

/* _____________ Hero Animation ___________________ */

@keyframes dude {
    from {
        transform:translateY(-8%)
    }
    to {
        transform:translateY(8%)
    }
}

.Dude{
    animation: dude 4s linear infinite alternate;
}

/* _____________ gallery ___________________ */

.Gallery img{
    padding-top: 60px;
    padding-bottom: 12svh;
    background-color: white;
}

/* _____________ Every Idea ___________________ */

.main-idea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 10rem;
    margin-left: 10rem;
    margin-right:10rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
   
    
}
.main-idea__info{
    display: flex;
    flex-direction: row;
}

.main-idea h3 {
   font-size: 38px;
   color: #000000;
}
.main-idea p {
    font-size:18px;
    font-weight: 200;
}
.h3_idea {
    width:50%;
    font-size: 38px;
    margin-left: 12rem;
    margin-bottom: 10rem;
}

img[alt="idea"] { 
    width: 60px;
    height: 62px; 
}


.idea_vier_flex{
    display: grid;
    grid-template-areas:"eins zwei" "drei vier";
    gap: 5rem;
    margin-left: 10rem;
    margin-right:10rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.idea_vier_flex img{
    width:32px;
    height: 32px; 
}

.idea_Box {
    display: flex;
    flex-direction:row;
    gap: 1rem;
}
.h4_idea {
    font-size: 18px;
   margin-bottom: 10px;
}

/* _____________ Solution ___________________ */

.Solution{
    padding: 5em 5em 5em 5em;
}

.Solution h4{
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.2rem;
}

.Solution img{
    object-fit: contain;
    height: 60vh;
    width: 100%;
}

.Solution div{
    margin: auto 70px;
}

.emoji{
    font-size: 2rem;
}

.SolutionText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 20em;
    padding-right: 20em;
    padding-bottom: 10em;
    padding-top: 3em
}

.SolutionText h3{
    padding-bottom: 1em;
    font-size: 25px;
}

.Solution h3{
    padding-bottom: 2em
    font-size: 25px;
}

.Solu01{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1em;
}

.Solu01 h3{
    color: rgb(210, 210, 210);
    font-size: 55px;
   font-family:"Bold";
}

.Solu01 p{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 0.5em;
}

.Solu02{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1em;
}

.Solu02 h3{
    color: rgb(210, 210, 210);
    font-size: 55px;
    font-family:"Bold";
}

.Solu02 p{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 0.5em;
}



/* _____________ Footer___________________ */

.subscribe {
    background-color: #FFFFFF;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subscribe-info h4 {
    color: #000000;
    font-size: 28px;
    font-family: "Roboto";
    margin-bottom: 1rem; 
}

.subscribe-info p {
    margin-top: 1rem;
    font-size: 14px;
    margin-bottom: 4rem;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe-form #email {
    padding: 1rem;
    box-shadow: 6px 6px 50px 6px rgba(0, 0, 4, 0.2);
    margin-bottom: 2rem;
    border: none;
    text-align: center;
}

.subscribe_button {
    font-size: 19px;
    background-color: #FF3571;
    border: none;
    color: #FFFFFF;
    padding: 1rem 3rem;
    margin-bottom: 4rem;
    border-radius: 4px;
}

.subscribe_button:hover{
    background: linear-gradient(90deg, rgba(255,53,113,1) 0%, rgba(13,25,238,1) 100%);;
}

#created-section h6 {
    margin-left: 4rem;
    padding:1rem;
    font-size: 18px;
    font-weight: 200;
}

#created-section img{
    margin-left: 5px;
    width: 28px;
    height: 24px;
}
