*{  margin: 0;
    padding: 0;
    box-sizing: border-box;}

html{scroll-behavior: smooth;}

@font-face {font-family: 'Courier New', Courier, monospace
    src url("./font");}

    /* Hier gehts um die classes */
.card{
    border: 2px solid black;
    padding: 10px;
}

.card__header{ color: blue;}
.card__body{margin: 10px 0;}

.card__footer--highlight {background-color: antiquewhite;}


/* hier gehts um die Pseudoelemente"::" */

section li::before { 
    content: "👾";}

section li::after { 
    content: "🎶";}

h1::first-letter {font-size: 70px;}

sectionp>p::first-line {font-weight: bold;}

.show__img{
    max-width: 500px;
    max-height: 300px;
    margin: 0 auto; /* erster wert ist für oben unten, zweiter für links rechts und sorgt somit für die Zentrierung */
    border: 2px solid black;
}

.show__img img {
    width: 100%;
    display: none;
}

button{ 
    width: 100px;
    background-color: #545454;
    border: none;
    color: white;
    padding: 5px 15px;
    margin: 10px auto;
    border-radius: 10px;
    display: block;
    hover: color black;
}

.gallery_img{
    background-image: url(#);
    height: 400px;
    width: 300px;
    background-size: cover;
}
/* "." spricht immer class an; "#" immer id */
#section__one, #section__two, #section__three {height: 500px;}

#section__one {background-color: azure;}
#section__two {background-color: rgb(151, 206, 206);}
#section__three {background-color: rgb(141, 150, 202);}